.interiorStyleChoiceDiv{
    width: 90%;
    margin: 4vh auto;
}

.interiorChoiceImages{
    width: 100%;
    margin: 2vh auto;
    display: flex;
}

.interior{
    width: 80%;
    position: relative;
}

.interior img {
    max-width: 100%;
    height: auto;
}

.interiorChoice{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.interiorChoice div{
    max-width: 90%;
    position: relative;
}

.interiorChoice img {
    max-width: 100%;
    height: auto;
}

.interiorDescription{
    font-size: 1.3em;
    color: ivory;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 15px;
}