.yourFridgeDiv{
    width: 50%;
    background-color: rgb(237, 242, 251);
}

.yourFridgeDiv h2{
    text-align: center;
}

.fridge{
    border: 1px solid black;
}

.yourFridge{
    display: flex;
    align-items: center;
    justify-content: center;
}