.yourFridgeDiv{
    width: 50%;
    background-color: rgb(237, 242, 251);
}

.yourFridgeDiv h2{
    text-align: center;
}

.fridge{
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.yourFridge{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    position: relative;
}

#removeFridge{
    position: absolute;
    left: 50%;
    top: -5%;
    transform: translate(-50%, 0);
    z-index: 9999;
}

.fridge i{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
}